body { background: #770b95; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 31px; display: flex; }
.block-cart-0 { color: #7121d9; font-size: 21px; margin-bottom: 5px; }
.block-payment-1 { color: #32ae03; font-size: 21px; margin-bottom: 5px; }
.block-database-2 { color: #135c34; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #439b2b; font-size: 20px; margin-bottom: 5px; }
.block-user-4 { color: #74e90a; font-size: 16px; margin-bottom: 5px; }